<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zomato Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand">Zomato Clone</a>
    </div>
</nav>

<div class="container text-center mt-5">
    <h1>Discover the best food & drinks</h1>
    <p>Search restaurants, cuisines & dishes</p>

    <input type="text" class="form-control w-50 mx-auto" placeholder="Search...">
</div>
</body>
</html>