<!DOCTYPE html>
<html>
<head>
    <title>Order History</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    <h1>My Orders</h1>

    {% for order in orders %}

        <div class="card p-3 mb-3">

            <h5>Order #{{ order.id }}</h5>

            {% for item in order.items.all %}

                <p>
                    {{ item.restaurant.name }}
                    - Quantity: {{ item.quantity }}
                    - ₹{{ item.price|floatformat:2 }}
                </p>

            {% endfor %}

        </div>

    {% empty %}

        <p>No orders found</p>

    {% endfor %}

</div>

</body>
</html>